<!DOCTYPE html>
<html>
	<head>
		<title>FizzBuzzFun</title>
	</head>
<body>
	<h1>The FizzBuzzFun for {{{number}}} is {{{fizzbuzz}}}</h1>
	<em>Instructions: To have some more FizzBuzzFun append any other number after the final '/' in the URL. (e.g. http://fizzbuzzfun.cfapps.io<b>/12315</b> ^_^</em> 
</body>
</html>