<!DOCTYPE html>
<html>
	<head>
		<title>FizzBuzzFun</title>
	</head>
<body>
	<h1>The FizzBuzz for {{{number}}} is {{{fizzbuzz}}}</h1>
	<em>Instructions: To have more FizzBuzzFun enter any other number after the '/' in the URL. ^_^</em> 
</body>
</html>