<!DOCTYPE html>
<html>
	<head>
		<title>Welcome</title>
	</head>
<body>
	<h1>Welcome to FizzBuzzFun!</h1>
	<em>Instructions: To have some FizzBuzzFun append any number after the final '/' in the URL. (e.g. http://fizzbuzzfun.cfapps.io<b>/12315</b> ^_^</em> 
</body>
</html>